@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

h1 {
  text-align: center;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  background-color: #ffcc00;
  border: none;
  cursor: pointer;
}
